<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Google Maps CRM{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/light.css" id="theme-stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body class="{% block body_class %}{% endblock %}">
    <div id="app">
        {% block content %}{% endblock %}
    </div>
    <script src="/static/js/main.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>

